<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>120195212737-bcoq8ce6hd1217ec9d5ve3bqs7rh9td3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120195212737-bcoq8ce6hd1217ec9d5ve3bqs7rh9td3</string>
	<key>API_KEY</key>
	<string>AIzaSyCEca44-VtivFZl_V37qgVTzcz1303ALVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>120195212737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.asim.faceevents-social</string>
	<key>PROJECT_ID</key>
	<string>faceevents-social</string>
	<key>STORAGE_BUCKET</key>
	<string>faceevents-social.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:120195212737:ios:93b9231dabea1a2a</string>
	<key>DATABASE_URL</key>
	<string>https://faceevents-social.firebaseio.com</string>
</dict>
</plist>